//! **************************************************************************
// Written by: Map P.20131013 on Wed Sep 19 11:27:26 2018
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "H6" LEVEL 1;
COMP "A<1>" LOCATE = SITE "U12" LEVEL 1;
COMP "A<2>" LOCATE = SITE "U11" LEVEL 1;
COMP "A<3>" LOCATE = SITE "V10" LEVEL 1;
COMP "B<0>" LOCATE = SITE "T8" LEVEL 1;
COMP "B<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "B<2>" LOCATE = SITE "R16" LEVEL 1;
COMP "FLAGS<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "B<3>" LOCATE = SITE "T13" LEVEL 1;
COMP "FLAGS<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "ALUOP<0>" LOCATE = SITE "R17" LEVEL 1;
COMP "FLAGS<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "ALUOP<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "FLAGS<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "ALUOP<2>" LOCATE = SITE "U18" LEVEL 1;
COMP "ALUOP<3>" LOCATE = SITE "R13" LEVEL 1;
COMP "RES<0>" LOCATE = SITE "V15" LEVEL 1;
COMP "RES<1>" LOCATE = SITE "V14" LEVEL 1;
COMP "RES<2>" LOCATE = SITE "V12" LEVEL 1;
COMP "RES<3>" LOCATE = SITE "V11" LEVEL 1;
SCHEMATIC END;

